@use 'common' as *;

.stageScreen {
    width: 100%;
    max-width: 800px;
    height: calc(100%);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8rem minmax(auto, calc(100% - 8rem - 100px)) 100px;

    > header {
        display: flex;
        flex-direction: row;

        > div {
            display: flex;
            position: relative;
            line-height: 1rem;
            text-align: center;
            padding: 1.5rem 0;
            border-right: 1px solid rgba(127, 127, 127, 0.2);
            overflow-y: hidden;
            overflow-wrap: anywhere;
            align-items: center;
            justify-content: center;

            &:last-child {
                border-right: none;
            }

            .progress {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $accent-color;
                opacity: 0.2;
            }
        }
    }

    > main {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    > nav {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.timerNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timer {
    margin-bottom: 1rem;
}

.slideshow {
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    grid-template-rows: 100%;

    > * {
        grid-area: 1 / 1;
        margin: auto;
        //transition: opacity 0.5s linear;
        opacity: 0;

        &.visible {
            opacity: 1;
        }

        &.upsideDown {
            transform: rotate(180deg);
        }
    }
}
